.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  min-height: 100vh;
}

.about-image img {
  width: 100%;
  max-width: 600px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.about-content {
  flex: 1;
  opacity: 0;
  transform: translateY(50px);
  font-family: 'Poppins', sans-serif;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-content h1 {
  color: white;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.about-content p {
  color: rgb(185, 185, 185);
  font-size: 1rem;
  line-height: 1.5;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

  .about-image-wrapper {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .about-image img {
    width: 100%;
    padding-top: 20px;
    max-width: 380px;
  }

  .about-content {
    text-align: center;
    order: 1;
    margin-top: 0;
  }

  .about-content h1 {
    font-size: 2rem;
    text-align: center;
  }

  .about-content p {
    font-size: 0.9rem;
  }
}

.about-image-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  width: 540px;
  animation: float 3s ease-in-out infinite;
}

.scattered-image {
  position: absolute;
  animation: float 3s ease-in-out infinite;
}

.image-1 {
  top: 0%;
  width: 100px;
  left: 20%;
  animation-delay: 0s;
}

.image-2 {
  top: 20%;
  width: 80px;
  right: 20%;
  animation-delay: 0.5s;
}

.image-3 {
  bottom: 5%;
  width: 120px;
  left: 5%;
  animation-delay: 1s;
}

.image-4 {
  bottom: 10%;
  width: 90px;
  right: 10%;
}

.image-5 {
  top: 90%;
  width: 100px;
  left: 50%;
  animation-delay: 2s;
}

@media (max-width: 768px) {
  .image-1 {
    top: 10%;
    left: 0%;
    width: 60px;
  }

  .image-2 {
    top: 20%;
    right: 0%;
    width: 50px;
  }

  .image-3 {
    bottom: 5%;
    left: 5%;
    width: 90px;
  }

  .image-4 {
    bottom: 0%;
    right: 0%;
    width: 60px;
  }

  .image-5 {
    top: 92%;
    left: 50%;
    width: 70px;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}
